.container{
    min-width: 200px;
    min-height: 120px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

#message{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

#btn{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 100px;
}